/* ui/resources/style.qss.template */

QWidget {
    background-color: @background-color-dark;
    color: @text-color;
    font-family: "Segoe UI", "Microsoft YaHei";
    font-size: 10pt;
}

QMainWindow {
    background-color: @background-color-darkest;
}

QFrame {
    border: 1px solid @border-color;
    border-radius: 4px;
    padding: 5px;
}

QPushButton {
    background-color: @border-color;
    border: 1px solid @border-color-hover;
    border-radius: 4px;
    padding: 5px 10px;
    min-height: 20px;
}

QPushButton:hover {
    background-color: @border-color-hover;
    border-color: #6a6b6c; /* 可以也换成变量 */
}

QPushButton:pressed {
    background-color: @background-color-light;
}

QLineEdit {
    background-color: @background-color-light;
    border: 1px solid @border-color-hover;
    border-radius: 4px;
    padding: 5px;
}

QCheckBox {
    spacing: 5px; /* 勾选框与文字之间的间距 */
}

QCheckBox::indicator {
    width: 16px;
    height: 16px;
    border: 2px solid @border-color;     /* 默认边框 */
    border-radius: 4px;                    /* 圆角 */
    background-color: @background-color-light; /* 默认背景色 */
}

QCheckBox::indicator:hover {
    border: 2px solid @border-color-hover; /* 悬停时边框高亮 */
}

QCheckBox::indicator:checked {
    background-color: @text-color;     /* 选中时，用文字颜色填充背景 */
    border: 2px solid @text-color;     /* 选中时，边框也变为文字颜色 */
}

QRadioButton {
    spacing: 5px; /* 指示器和文字之间的距离 */
}

QRadioButton::indicator {
    width: 14px;
    height: 14px;
    border: 2px solid @border-color;
    border-radius: 8px; /* (14px + 2px*2) / 2 = 9px. 保持圆形 */
    background-color: @background-color-light;
}

QRadioButton::indicator:hover {
    border: 2px solid @border-color-hover;
}

QRadioButton::indicator:checked {
    background-color: @text-color; /* 选中时用文字颜色填充 */
}

QSlider::groove:horizontal {
    border: 1px solid @border-color;
    height: 8px;
    background: @background-color-light;
    margin: 2px 0;
    border-radius: 4px;
}

QSlider::handle:horizontal {
    background: #78797a; /* 可以也换成变量 */
    border: 1px solid @border-color-hover;
    width: 18px;
    margin: -5px 0; 
    border-radius: 9px;
}

QSplitter::handle {
    background: @border-color;
}

QSplitter::handle:horizontal {
    width: 4px;
}

QSplitter::handle:vertical {
    height: 4px;
}